<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_affectation.css') }}">
    <title>Edit Conference</title>
</head>

<body>
    <div class="content">
        <h1>Edit Conference</h1>

        <form action="{{ url_for('admin.edit_conference', id=conference.id) }}" method="POST" id="conferenceForm">
            <table id="conferenceTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Shift</th>
                        <th>Poste</th>
                        <th>PM</th>
                        <th>Navire</th>
                        <th>Marchandise</th>
                        <th>Tonnage Manif</th>
                        <th>Tonnage Rest</th>
                        <th>Consignataire</th>
                        <th>Réceptionnaire</th>
                        <th>Grue</th>
                        <th>ELEVATEURS</th>
                        <th>Materiel à bord</th>
                        <th>Date Début Travail</th>
                        <th>Date Fin Travail</th>
                        <th>Heure Terminaison Travail Prévue</th>
                        <th>Observation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="date" name="Date" value="{{ conference.date }}" required></td>
                        <td>
                            <select name="shift" required>
                                <option value="" disabled>Select Shift</option>
                                <option value="I" {% if conference.shift=='I' %}selected{% endif %}>I</option>
                                <option value="II" {% if conference.shift=='II' %}selected{% endif %}>II</option>
                                <option value="III" {% if conference.shift=='III' %}selected{% endif %}>III</option>
                            </select>
                        </td>
                        <td>
                            <select name="poste" required>
                                {% for poste_option in ['22', '23', '24', 'T3T4', '36', '35', '34', '33', '32', '31',
                                '30', 'R2', 'R4'] %}
                                <option value="{{ poste_option }}" {% if conference.poste==poste_option %}selected{%
                                    endif %}>{{ poste_option }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" name="pm" value="{{ conference.pm }}"></td>
                        <td><input type="text" name="navire" value="{{ conference.navire }}"></td>
                        <td><input type="text" name="marchandise" value="{{ conference.marchandise }}"
                                placeholder="Nature"></td>
                        <td><input type="number" name="tonnage_manif" value="{{ conference.tonnage_manif }}"></td>
                        <td><input type="number" name="tonnage_rest" value="{{ conference.tonnage_rest }}"></td>
                        <td><input type="text" name="consignataire" value="{{ conference.consignataire }}"></td>
                        <td><input type="text" name="receptionnaire" value="{{ conference.receptionnaire }}"></td>
                        <td>
                            <select name="grue">
                                {% for grue_option in ['M630001', 'M630002', 'G400001', 'G400002', 'G400003', 'G400004',
                                'G400005', 'G400006', 'G380001', 'G380002', 'G380003', 'G380004'] %}
                                <option value="{{ grue_option }}" {% if conference.grue==grue_option %}selected{% endif
                                    %}>{{ grue_option }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="elevateur">
                                <option value="Elv1" {% if conference.elevateur=='Elv1' %}selected{% endif %}>1</option>
                                <option value="Elv2" {% if conference.elevateur=='Elv2' %}selected{% endif %}>2</option>
                                <option value="Elv3" {% if conference.elevateur=='Elv3' %}selected{% endif %}>3</option>
                            </select>
                        </td>
                        <td>
                            <select name="materiel_a_bord">
                                <option value="ch11" {% if conference.materiel_a_bord=='ch11' %}selected{% endif %}>1
                                </option>
                                <option value="ch2" {% if conference.materiel_a_bord=='ch2' %}selected{% endif %}>2
                                </option>
                                <option value="Sd1" {% if conference.materiel_a_bord=='Sd1' %}selected{% endif %}>3
                                </option>
                            </select>
                        </td>
                        <td><input type="date" name="Date_debut_travail" value="{{ conference.date_debut_travail }}">
                        </td>
                        <td><input type="date" name="Date_fin_travail" value="{{ conference.date_fin_travail }}"></td>
                        <td><input type="text" name="Heure_Terminaison_Travail_Prévue"
                                value="{{ conference.heure_terminaison_travail_prevue }}"
                                placeholder="Heure de terminaison"></td>
                        <td><input type="text" name="observation" value="{{ conference.observation }}"
                                placeholder="Observation"></td>
                    </tr>
                </tbody>
            </table>

            <div class="button-container">
                <button type="submit" class="button">Update</button>
                <a href="{{ url_for('admin.admin') }}" class="button">Home</a>
            </div>
        </form>
    </div>

</body>

</html>