{% extends 'base.html' %}

{% block head %}
<title>Panel Utilisateur</title>
<!-- Additional CSS or meta tags can be included here if needed -->
{% endblock %}

{% block body %}
<!-- User Info Section -->
{% if current_user.is_authenticated %}
<div class="user-info mb-4">
    <h2>Personal Information</h2>
    {% if user.profile_image %}
    <img src="{{ url_for('static', filename='uploads/' ~ user.profile_image) }}" alt="User Image">
    {% else %}
    <p>No image available</p>
    {% endif %}
    <p><strong>Name:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Matricule:</strong> {{ user.matricule }}</p>
    <p><strong>Fonction:</strong> {{ user.fonction }}</p>
    <p><strong>Shift:</strong> {{ user.shift }}</p>
    <p><a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
        <a href="{{ url_for('auth.change_password') }}" class="btn btn-danger">Change Password</a>
    </p>
    {% endif %}

    <!-- Main Content -->
    <div class="content">
        <h1 class="text-center">Task Master</h1>

        <div class="text-center mt-4">
            <a href="{{ url_for('main.task_master') }}" class="btn btn-primary">Go to Task Master</a>
            <a href="{{ url_for('admin.conference') }}" class="btn btn-primary">Conference</a>
            <a href="{{ url_for('tasks.statistiques') }}" class="btn btn-primary">Statistiques</a>
        </div>
    </div>
    {% endblock %}